﻿@model MängukooliMVC.Models.Inimene

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Kes - andmed</h2>
<h4>Seisuga: @System.DateTime.Now.ToShortDateString()</h4>

<table>
    <tr><td width="600">
<div>
    <h4>Inimene</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        @if (ViewBag.Kes == "Õpetaja")
        {
            <dt>
                @Html.DisplayNameFor(model => model.MitaÕpetab.Nimetus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MitaÕpetab.Nimetus)
            </dd>
        }

        @if (Model.Klass != null)
        {
            <dt>
                @if (Model.Aine == null)
                {
                    <b>Õpib klassis</b>
                } else {
                    <b>Klassijuhataja:</b>
                }
                @*@Html.DisplayNameFor(model => model.Klass.Nimetus)*@
            </dt>

        <dd>
            @Html.DisplayFor(model => model.Klass.Nimetus)
        </dd>
        }
    </dl>
</div>
        </td>
   

        <td>
            Meil on sellised klassid:
            @foreach (var k in ViewBag.Klassid)
            {
                <p>@k.Nimetus</p>
            }
        </td>

    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Isikukood }) |
    @Html.ActionLink("Back to List", "Index")
</p>
