﻿@model IEnumerable<MängukooliMVC.Models.Inimene>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Õpilased", "Opilased")
</p>
<p>
    @Html.ActionLink("Õpetajad", "Opetajad")
</p>
<p>
    @Html.ActionLink("Kõik", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MitaÕpetab.Nimetus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klass.Nimetus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MitaÕpetab.Nimetus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klass.Nimetus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Isikukood }) |
                @Html.ActionLink("Details", "Details", new { id = item.Isikukood }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Isikukood })
            </td>
        </tr>
    }

</table>
