﻿@model IEnumerable<KoerteMVC.Models.Koer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tõug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inimene.Nimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tõug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inimene.Nimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Kood }) |
            @Html.ActionLink("Details", "Details", new { id=item.Kood }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Kood })
        </td>
    </tr>
}

</table>
