﻿@model MängukooliMVC.Models.Klass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Klass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimetus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimetus)
        </dd>

    </dl>
</div>
<table>
    <tr>
        <th width="600"><h4>Selle klassis õpetatakse aineid:</h4></th>
        <th><h4>Selles klassis ei õpetata aineid:</h4></th>
    </tr>
    <tr>
        <td>
            
            @foreach (var a in ViewBag.Ained)
            {
                <p>@a.Nimetus @Html.ActionLink("Eemalda", "EemaldaAine", new { id = Model.KlassiKood, aine = a.AineKood })</p>
            }
        </td>
        <td>
            
            @foreach (var a in ViewBag.EiAined)
            {
                <p>@a.Nimetus @Html.ActionLink("Lisa", "LisaAine", new { id = Model.KlassiKood, aine = a.AineKood }) </p>
            }

        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KlassiKood }) |
    @Html.ActionLink("Back to List", "Index")
</p>
